wrap{
    height: 100%;
    margin: 0;
}

.layout-wrap{
    height:100%;
    box-sizing: border-box;
    min-width: 1580px;
}
.full-layout .layout-wrap,
.full-layout .layout-wrap{
    min-height: 880px;
}

.full-layout .contents-wrap,

.fix-top-wrap{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
.header::after,
.header__right::after,
.header__nav-list::after,

.header__logo{
    margin: 0;
    float: left;
    width: 80px;
    height: 70px;
}

.header__logo-link{
    display: block;
    height: 100%;
    background: url("../img/logo.PNG");
}
.for-ally{
    display: block;
    margin: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    color: transparent;
    border: none;
    padding: 0;
    overflow: hidden;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    background: none;
}
.gnb{
    position: fixed;
    z-index: 1000;
    top: 71px;
    left: 0px;
    bottom: 0px;
    width: 90px;
}
.gnb__scroller{
    position: relative;
    z-index: 10;
    height: 100%;
    background-color: #153863;
}
.gnb__list{
    padding: 2px 0;
}

.gnb-depth{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 100%;
    width: 312px;
    height: 100%;
    background-color: #f6faff;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.gnb-depth__scroller{
    height: 100%;
}

.history-tab{
    font-size:0;
    line-height: 0;
    white-space: nowrap;
    position: relative;
    background-color: #d8dde5;
}
.history-tab__list,

.history-tab__scroller{
    margin-right: 121px;
    overflow: hidden;
}


.layer-wrap{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    text-align: center;
    background: rgba(0,0,0,0.4);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.layer-container{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: normal;
    white-space: normal;
    text-align: left;
}


/* contents-wrap */
.contents-wrap{
    padding-left: 90px;
}
.full-layout .contents-wrap,

/*history*/
.history-tab__list{
    position: relative;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 11px 0 0 0;
}
.header__logo{
    margin: 0;
    float: left;
    width: 180px;
    height: 70px;
}

.header{
    position:relative;
    box-sizing: border-box;
    min-width: 1580px;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid #3990e6;
    background-color: #fff;
}
.buttont{
    height: 500px;
    width: 500px;
}