<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoon.mapper.BoardMapper">

    <select id="boardSearch" resultType="com.yoon.model.BoardVO">
        select bno, title, writer, regdate, viewcnt, NUM
        from (select ROWNUM AS NUM, e.*
              from (select * from board where writer like '%'||#{writer}||'%' and title like '%'||#{title}||'%' order by REGDATE desc) e)
        where NUM between #{start} and #{last}

    </select>

    <insert id="boardWrite" parameterType="java.util.HashMap">
    <selectKey resultType="int" keyProperty="bno" order="BEFORE">
        SELECT MAX(bno) + 1 FROM board
    </selectKey>
        insert into board
            (
             bno,
             title,
             content,
             writer,
             regdate
             )
        values (
                BNO.NEXTVAL,
                #{title},
                #{content},
                #{writer},
                SYSDATE
                )
    </insert>

    <select id="searchbno" resultType="int">
        select max(BNO)
        from board
    </select>

    <select id="searchcnt" resultType="int">
        select count(0)
        from board
        where writer like '%'||#{writer}||'%' and title like '%'||#{title}||'%'
    </select>

    <select id="selectBoard" resultType="com.yoon.model.BoardVO">
        select *
        from board
        where bno = #{bno}
    </select>

    <delete id="boardRemove">
        delete
        from board
        where bno = #{bno}
    </delete>

    <update id="boardUpdate">
        update board set title = #{title} , content = #{content} where bno = #{bno}
    </update>

    <select id="boardDetail" resultType="Hashmap">
        select bno,
               title,
               content,
               filename,
               FILEREALNAME
        from BOARD
        WHERE bno = #{bno}
    </select>

    <insert id="insertfile">
        INSERT INTO board_file(
               bnum,
               filename,
               realname
        )values (
                 #{bno},
                 #{file_name},
                 #{real_name}
                        )
    </insert>
</mapper>